@charset "utf-8";

$family-primary: "Avenir", Helvetica, Arial, sans-serif;
$primary: #2c3e50;
$title-color: $primary;

#menu-root {
    padding: 0;
}

.color {
    min-width: 2.7rem;
}

#c {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;

    padding: 0;
}

@import "~bulma/bulma";
